<h2>Bienvenido Admin</h2>

<a href="<?php echo $this->url(array('action' =>'index', 'controller' => 'listar'),
        'default', true)?>">Listar</a>
<a href="<?php echo $this->url(array('action' =>'nueva', 'controller' => 'entradas'),
        'admin', true)?>">Crear Entrada</a>
<a href="<?php echo $this->url(array('action' =>'borrar', 'controller' => 'entradas'),
        'admin', true)?>">Borrar Entrada</a>
<a href="<?php echo $this->url(array('action' =>'index', 'controller' => 
    'index'), 'default', true)?>">Cerrar Sesion</a>


