<table>
    <th>Id</th>
    <th>Título</th>
    <th>Entradilla</th>
    <th>Fecha creación</th>
    <th>Fecha edición</th>
    <th>Nombre Creacion</th>
    <th>Nombre Edicion</th>
    <th>Activo</th>
    <?php foreach ($this->paginador as $entrada): ?>
        <tr>
            <td>
                <?php echo $entrada->id_entrada ?>
            </td>
            <td>
                <?php echo $entrada->titulo ?>
            </td>
            <td>
                <?php echo $entrada->entradilla ?>
            </td>
            <td>
                <?php echo $this->formatearFecha($entrada->fecha_creacion, false) ?>
            </td>
            <td>
                <?php echo $this->formatearFecha($entrada->fecha_edicion, false) ?>
            </td>
            <td style="text-align: center;">
                <?php echo $entrada->findParentRow('Application_Model_Usuario', 'Autor')->nombre ?>
            </td>
            <td style="text-align: center;">
                <?php echo $entrada->findParentRow('Application_Model_Usuario', 'Editor')->nombre ?>
            </td>
            <td style="text-align: center;">
                <?php echo $entrada->activo ?>
            
        </tr>
    <?php endforeach; ?>
</table>

<?php echo $this->paginationControl($this->paginador,
    'Sliding',
    'paginador.phtml'); ?>