<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CkEditor</title>
    <?php echo $this->headScript();?>

</head>
<body>
    <?php echo $this->layout()->content; ?>
</body>
</html>


